<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ToDo!</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body>
    <section id="todoapp"></section>
    <section id="maino"></section>
    <footer id="info">
      <p>Double-click to edit a todo</p>
    </footer>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="js/bundle.js"></script>
  </body>
</html>